/* ヘッダースタイル */
header {
  padding: 10px; /* ヘッダーにパディングを追加 */
}

/* ロゴ画像スタイル */
header h1 img {
  height: 1em;
  transform: scale(1.5);
  margin-right: 0.5em;
  max-width: none; /* max-widthをnoneに設定 */
  object-fit: contain; /* 画像が親要素内に収まるようにする */
  padding-left: 10px; /* 画像の左側に余白を追加 */
}

/* リセットスタイル */
body, h1, h2, h3, p, ul, li, section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 基本スタイル */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0; /* デフォルトのマージンをリセット */
  padding: 0; /* デフォルトのパディングをリセット */
}

h1, h2, h3 {
  margin-top: 20px; /* 見出しの上に空白を追加 */
  text-align: center; /* 見出しを中央揃えに設定 */
}

ul {
  list-style-type: none; /* リストのスタイルをリセット */
}

/* セクションスタイル */
.section {
  padding: 20px; /* セクション内のコンテンツにパディングを追加 */
  width: 100%; /* セクションが全幅を占めるように設定 */
  box-sizing: border-box; /* パディングを含む幅の計算 */
}

/* 背景色セクション */
.bg-main-title {
  position: relative;
  overflow: hidden;
}
.bg-effect {
  background-color: #F0FFF0; /* 薄い黄緑 */
}
.bg-closing {
  background-color: #FFFAF0; /* 薄い黄色 */
}
.bg-problem {
  background-color: #FFFACD; /* レモン色 */
}
.bg-solution {
  background-color: #FFF8DC; /* コーンシルク */
}
.bg-benefit {
  background-color: #FFFFE0; /* ライトイエロー */
}
.bg-case {
  background-color: #FFEFDB; /* 薄いオレンジ */
}
.bg-usage {
  background-color: #FAFAD2; /* ライトゴールデンロッドイエロー */
}
.bg-future {
  background-color: #FFFFF0; /* アイボリー */
}
.bg-features {
  background-color: #FFF5EE; /* シーシェル */
}
.bg-flow {
  background-color: #F5FFFA; /* ミントクリーム */
}

/* メインタイトルセクションの動画 */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.5; /* 動画の透明度を設定 */
}

/* メインタイトルセクションのコンテンツ */
.bg-main-title .content {
  position: relative;
  z-index: 1;
  color: white; /* 文字の色を白にする */
  text-align: center;
  padding: 20px;
}

/* メインタイトルセクションのテキストスタイル */
.bg-main-title .content h2,
.bg-main-title .content p,
.bg-main-title .content ul {
  margin: 0 0 10px;
}

.bg-main-title .content ul {
  list-style: none;
  padding: 0;
}

.bg-main-title .content ul li {
  margin: 5px 0;
}

/* CTAボタンスタイル */
.cta-button {
  background-color: orange; /* オレンジ色 */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}
